/*--17418675--*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}


body {
margin:0 auto;
padding:0;
font:76% Verdana,Tahoma,Arial,sans-serif;
background-image: url("img/index.png");
background-position: top center;
background-repeat: no-repeat;
color:#3a3a3a;
}

#wrap {
background-color:#ffffff;
color:#303030;
margin:0 auto;
padding:0px 3px;
width:auto;
height:auto;
font-size: 15px;
}


/*Footer*/

#footer {
clear:both;
margin:0 auto;
padding:8px 1px;
border-top:2px solid #dadada;
width:100%;
text-align:center;
color:#808080;
letter-spacing:5px;
background-color:#ffffff;
font-size:0.9em;
position:fixed;
bottom:0px;
left:0px;
right:0px;
margin-bottom:0px;
}

#footer p {
padding:0;
margin:0;
}

#footer a {
color:#808080;
background-color:inherit;
text-decoration:none;
}

#footer a:hover {
text-decoration:none;
}

#social_icons img{
	width:18px;
	height:18px;
}

.button {
    border: white;
    padding: 12px 11px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
	border-radius:12px;
	width: 75px;
	transition-duration: 0.7s;
	height: 40px;
	margin: 275px -200px 10px 213px;
	
}

a{
text-decoration: none;

}
a:hover{
color: white;
}

.button1 {
    background-color:#b3b3cc; 
    color: black; 
    border: 0.5px solid #b3b3ff;
	cursor: pointer;
}

.button1:hover {
	background-color: #937fa5;
	 border: 0.5px solid #b3b3ff;
	 color:white;
}

.button2 {
    background-color:#b3b3cc; 
    color: black; 
    border: 0.5px solid #b3b3ff;
}
	
.button2:hover {
	background-color: #937fa5;
	 border: 0.5px solid #b3b3ff;
	 color: white;
}


.button3 {
    background-color:#b3b3cc; 
    color: black; 
    border: 0.5px solid #b3b3ff;
}

.button3:hover {
	background-color: #937fa5;
	 border: 0.5px solid #b3b3ff;
	 color: white;
}

.button4 {
    background-color:#b3b3cc; 
    color: black; 
    border: 0.5px solid #b3b3ff;
}

.button4:hover {
	background-color: #937fa5;
	 color: white;
	 border: 0.5px solid #b3b3ff;
	 
}

/*Responsiveness*/
 
@media only screen and (max-width: 800px) {
.button1 {
	margin-left: 0;
}

}